{% extends 'base.html' %}

{% block article %}
<form>
  <div class="form-group">
    <div class="col-sm-12">
      <small class="form-text text-muted pb-3">
        请输课程名，如果输入的课程名称已经在本课程存在，修改无效。
      </small>
      <input type="text" class="form-control" id="course_name" name="course_name" value={{course.name}}>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <small class="form-text text-muted pb-3">
        修改课程简介。
      </small>
      <input type="text" class="form-control" id="course_description" name="course_description" value={{course.description}}>
    </div>
  </div>
  <div class="form-group">
    <div class="custom-file px-2">
        <input type="file" class="custom-file-input" id="course_cover_input">
        <label class="custom-file-label" for="course_cover">点击上传封面</label>
    </div>
    <div class="progress">
      <div class="progress-bar bg-success" id="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <img src="" class="rounded mx-auto d-block" alt="cover" id="course_cover">
  <div class="form-group">
  <button type="submit" class="btn btn-primary" id="submitButton">保存修改</button>
  </div>
</form>
{% endblock %}

{% block script %}
  <script src="https://unpkg.com/cos-js-sdk-v5/dist/cos-js-sdk-v5.min.js"></script>
  <script>
    const cos = new COS({
      getAuthorization: function (options, callback) {
        $.get('/sts', {
          bucket: options.Bucket,
          region: options.Region,
          }, function (data) {
          const credentials = data && data.credentials;
          if (!data || !credentials) return console.error('credentials invalid');
          callback({
              TmpSecretId: credentials.tmpSecretId,
              TmpSecretKey: credentials.tmpSecretKey,
              XCosSecurityToken: credentials.sessionToken,
              // 建议返回服务器时间作为签名的开始时间，避免用户浏览器本地时间偏差过大导致签名错误
              StartTime: data.startTime, // 时间戳，单位秒，如：1580000000
              ExpiredTime: data.expiredTime, // 时间戳，单位秒，如：1580000900
          });
        });
      }
    });

    const CourseCoverInput = document.getElementById('course_cover_input');
    const ProgressBar = document.getElementById('progress-bar');
    const CourseCover = document.getElementById('course_cover');


    CourseCoverInput.addEventListener('change', function(e){
      const postfix = this.files[0].name.split('.')[1];
      console.log(postfix);
      const fileName="{{'course-{}.'.format(course.id)}}" + postfix;

      cos.putObject({
        Bucket: 'sophia-1303119720',
        Region: 'ap-nanjing',
        Key: fileName,              /* 必须 */
        StorageClass: 'STANDARD',
        Body: this.files[0], // 上传文件对象
        onProgress: function(progressData) {
          console.log(progressData);
          ProgressBar.setAttribute('aria-valuenow', progressData.percent*100);
          ProgressBar.setAttribute('style', `width: ${progressData.percent*100}%`);
        }
      }, function(err, data) {
      if (err) {
        console.log(err);
      }
      CourseCover.setAttribute('src', "https://" + data.Location);

      });
    })


  </script>
{% endblock %}