{% extends 'base.html' %}

{% block title %} Sign in {% endblock %}

{% block header %} Sign in {% endblock %}

{% block article %}
<form method="POST" action="/signin">
  <input type="text" , placeholder="phone" , name="phone" , id="phone" />
  <button id="submitPhone">获取验证码</button>
  <input type="text" , placeholder="sms code" , name="smscode" />
  <button type="submit">Sign In</button>
</form>

<script>
  document.getElementById("submitPhone").addEventListener("click", function (e) {
    e.preventDefault();
    const phone = document.getElementById("phone").value;
    let formData = new FormData();
    formData.append('phone', phone);
    fetch('/smscode', {
      method: 'POST',
      body: formData
    })
    .then(response => {return response.json()})
    .then(data => {
      console.log(data);
    })
    .catch((error) => {
      console.log('Error:', error);
    });

  });
</script>

{% endblock %}