<!DOCTYPE html>
<head>
  <title>{% block title %} Sen app {% endblock %}</title>
</head>
<body>
  <aside>
    <nav>
      <ul>
        {% block nav %}
        <li><a href="/"> Home </a></li>
        <li><a href="/signin">My</a></li>
        {% endblock %}
      </ul>
    </nav>
  </aside>

  <header>
    <h1>{% block header %} Title here {% endblock %}</h1>
  </header>

  <main>
    {% block article %}
    <p>Loading...</p>
    {% endblock %}
  </main>

  <footer>
    {% block footer %}
    <h1>The footer</h1>
    {% endblock %}
  </footer>
</body>
