<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  {% block head %} {% endblock %}
</head>
<body>
  <aside>
    <nav>
      <ul>
        {% block nav %}
        <li><a href="/"> Home </a></li>
        {% if current_user.is_authenticated %}
        <li><a href="/profile">My</a></li>
        {% else %}
        <li><a href="/signin">Sigin</a></li>
        {% endif %}
        {% endblock %}
      </ul>
    </nav>
  </aside>

  <header>
    <h1>{{ title }}</h1>
  </header>

  <main>
    {% block article %}
    <p>Loading...</p>
    {% endblock %}
  </main>

  <footer>
    {% block footer %}
    <h1>The footer</h1>
    {% endblock %}
  </footer>
</body>
